table {
  border-collapse: collapse;
}

table td,
table th {
  border: 2px solid black;
  padding: 20px;
}

form input {
  display: block;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 300px;
}
