<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Clientes</h1>
  <p>Lista de clientes.</p>

  <!-- <ul th:each="cliente : ${cls}">
    <li>
      <a th:href="'/clientes/'+${cliente.id}" th:text="${cliente.nome}"></a>
    </li>
  </ul> -->

  <table>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Filiação</th>
      <th>Preferência</th>
      <th>Excluir</th>
      <th>Editar</th>
    </tr>
    <tbody>
      <tr th:each="cliente : ${cls}">
        <td>
          <a th:href="'/clientes/'+${cliente.id}" th:text="${cliente.nome}"></a>
        </td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.filiacao}"></td>
        <td th:text="${cliente.preferencia}"></td>
        <td>
          <form action="/clientes/delete" method="post">
            <input type="hidden" name="id" th:value="${cliente.id}">
            <button>Excluir</button>
          </form>
        </td>
        <td>
          <a th:href="'/clientes/'+${cliente.id}+'/edit'">
            <button>Editar</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Novo Cliente</h2>
  <form action="/clientes" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="preferencia">Preferência</label>
    <input type="text" name="preferencia" id="preferencia" required>

    <label for="filiacao">Filiação</label>
    <input type="date" name="filiacao" id="filiacao" required>

    <button>Enviar</button>
  </form>

  <script src="/js/script.js"></script>
</body>

</html>